@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@100&display=swap');
body{
    font-size:12px;
    margin:0;
    color:#000;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:url('../bg.jpeg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    height:100vh;
    width:360px;
}
#container{
    height:100vh;
    margin-left: 30px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    overflow: hidden;
    box-sizing:border-box;
}
#logo{
    padding:0 10px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#logo h1{
    padding:20px;
    font-family:"Merriweather", serif;
    font-weight: 700;
    font-style:normal;
    letter-spacing: 0.1px;
    cursor:pointer;
}
#greetings{
    padding-left: 10px;
    font-family: "Roboto", sans-serif;
    font-weight:100;
}
#p{
    height:300px;
}
#form-box{
    margin:10px;
    padding:10px;
    background:#fff;
    border-radius:5px;
}
#line{
    border-bottom: 0.1px solid #000;
    width:100%;
    margin-bottom:7px;
}
#form-box input#username, #form-box input#password{
    width:100%;
    border:none;
    outline:0;
    background:transparent;
    padding: 10px;
    margin-bottom: 3px;
    box-sizing: border-box;
}
#form-box.close{
    width:0;
    margin:0;
    padding: 0;
    overflow: hidden;
    opacity:0;
}
h3.end{
    margin: 10px;
    padding: 50px 10px;
    text-align:center;
    border-radius:10px;
    background: #fff;
    position:relative;
    transform: translateY(-250px);
    opacity:0;
    transition:0.8s ease-in-out;
}
#check-box{
    display:flex;
    align-items: center;
}
#check-box input{
    width:20px;
    height:20px;
    cursor:pointer;
}
#check-box-1, #check-box-2{
    display:flex;
    align-items: center;
    flex:1;
}
#check-box-2 h6{
    align-self:flex-start;
}
#options{
    display: flex;
    margin-top:10px;
}
#options button{
    background:transparent;
    border-radius:20px;
    padding: 12px;
    margin-right:15px;
    flex:1;
    cursor:pointer;
}
#options button:last-of-type{
    background:#e2dede;
    color:#b5adad;
}
#form-box p{
    text-align: center;
}
#form-box p a{
    color:#000;
    text-decoration:none;
}
#footer{
    display:flex;
}
#footer #box{
    flex:1;
    background:#fff;
    padding:10px;
    margin:10px;
    border-radius:5px;
}
#footer #box i{
    background:#ffdc78;
    padding: 10px;
    border-radius:50%;
}
@media(max-width:450px){
    #container{
        margin-left:0;
        width:100vw;
    }
    body{
        margin:auto;
        max-width:100vw;
    }
}